<!DOCTYPE html>
<html lang="ok" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="nav">
    <div class="header">
        <div class="search">
            <button><i class="ri-search-2-line"></i></button>
            <input type="text" placeholder="Search">
            <i class="ri-equalizer-line"></i>
        </div>
        <div class="icon-btns">
            <i class="ri-notification-line"></i>
            <i class="ri-menu-line" id="menu-btn"></i>
        </div>
    </div>
</body>

</html>